/* CSS file for Mobile HCI */

.App {
  color: black;
}

.row {
  background-color: lightblue;
}

.col-xs-4 {
  color: black;
  outline-style: ridge;
  outline-color: green;
  outline-offset: -10px;
}

.carousel-item-example {
  color: black;
}

.carousel-inner-example {
  padding: 2rem;
  margin: auto;
}

.carousel-controls-example {
  position: relative; 
  width: 300px;
  margin: 0 auto;
}

.carousel-indicators-example {
   position: relative;
   color: red;
   margin: 0;
}